/* Server name */
.headerContent-2SNbie {
    color: var(--channels-default);
}

/* Channel name :hover */
.iconVisibility-vptxma.wrapper-NhbLHG:hover .name-28HaxV {
    color: var(--channels-default);
}

/* User's statut */
.hoverRoll-2XwpoF {
    color: var(--icon-color);
}

/* User's name */
.text-sm-normal-AEQz4v .title-338goq {
    color: var(--pink);
}

/* Button add server */
.circleIconButton-1VxDrg {
    color: var(--add-server-button);
}

.circleIconButton-1VxDrg.selected-2r1Hvo {
    /* :hover */
    background-color: var(--add-server-button-bg);
}

/* Friend top bar */
.theme-dark .themed-Hp1KC_ {
    background: var(--primary);
}

/* Top bar text */
.children-3xh0VB * {
    color: var(--channels-default) !important;
}