/**
 * @name Dracula-custom
 * @author Shyn3ss
 * @description Simple theme inspired from the Dracula theme
 * @version 1.0.0
 */

:root {

  /* Custom variables */
  /* Colors */
  --primary: #3c3d50;
  --secondary: #2c2d42;
  --tertiary: #1e1f35;
  --pink: #ffabd8;
  --blue: #d4e6f9;
  --dark-blue: #6272a4;

  /* Icons */
  --icon-color: #929dc0;
  --icon-hover: #ffc5e4;

  /* Popout */
  --popout-border: #23263a;
  --popout-background: #171828;

  /* Add server */
  --add-server-button: #6ce890;
  --add-server-button-bg: #40e16f;


  /* Discord's variables */
  /* Texts */
  --header-primary: #f5d7d7;
  --channels-default: var(--blue);
  --interactive-active: #ffc5e4;
  --interactive-muted: var(--dark-blue);
  --text-link: var(--pink);

  /* Main colors */
  --background-primary: var(--primary);
  --background-secondary: var(--secondary);
  --background-secondary-alt: #24253b;
  --background-tertiary: var(--tertiary);
  --background-accent: var(--dark-blue);
  --channeltextarea-background: #44455c;
  --background-message-hover: rgba(0, 0, 0, 0.125);
  --background-modifier-selected: rgba(255, 255, 255, 0.125);
  --background-modifier-active: rgba(255, 255, 255, 0.1);
  --background-modifier-hover: rgba(255, 255, 255, 0.075);

  /* Scrollbar */
  --scrollbar-auto-track: var(--background-tertiary);
  --scrollbar-auto-thumb: var(--background-accent);
}

/* Profile */
.userProfileInnerThemedNonPremium-2AJg-H,
.userPanelInnerThemed-3YO1BB {
  background: var(--popout-border);
}

.overlayBackground-2aa7wt,
.userPanelOverlayBackground-3Zmcq2 {
  background-color: var(--popout-background);
}

.defaultColor-1EVLSt {
  color: var(--blue);
}

.header-1w9Q93 {
  /*Pin message*/
  background-color: var(--tertiary);
}

.messagesPopout-eVzQcI,
.grid-1aWVsE,
.markup-eYLPri code,
.theme-dark .wrapperAudio-1Bzv_Z,
.container-rr3Ruk * {
  /*Pin message*/
  background-color: var(--secondary);
}

.messageGroupWrapper-1jf_7C {
  /*Pin message*/
  background-color: var(--primary);
}

.anchor-1X4H4q {
  /*Pin message*/
  color: var(--pink) !important;
}