/**
 * @name Dracula-custom
 * @author Shyn3ss
 * @description Simple theme inspired from the Dracula theme
 * @version 1.0.0
 */

:root {

  /* Colors */

  /* Header primary */
  --primary-130: #d4e6f9;
  /* Interactive-hover */
  --primary-230: #f5d7d7;
  /* Interactive-normal */
  --primary-330: #929dc0;
  /* Channels default */
  --primary-360: #d4e6f9;
  /* Channels icon */
  --primary-400: #6272a4;
  /* Interactive-muted */
  --primary-530: #6272a4;
  /* Channeltextarea background */
  --primary-560: #44455c;
  /* Primary */
  --primary-600: #3c3d50;
  /* Secondary */
  --primary-630: #2c2d42;
  /* Secondary-alt */
  --primary-660: #24253b;
  /* Tertiary */
  --primary-700: #1e1f35;
  /* Background-floating */
  --primary-800: #171828;
  /* Text link */
  --blue-345: #ffabd8;


  /* Discord's variables */
  --text-normal: white;
  --interactive-active: #ffc5e4;
  --interactive-muted: var(--primary-530);

  /* Hover message */
  --background-message-hover: rgba(0, 0, 0, 0.125);
  --background-modifier-selected: rgba(255, 255, 255, 0.125);
  --background-modifier-active: rgba(255, 255, 255, 0.1);
  --background-modifier-hover: rgba(255, 255, 255, 0.075);

  /* Scrollbar */
  --scrollbar-auto-track: var(--primary-700);
  --scrollbar-auto-thumb: var(--primary-530);
}